<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
  </head>
  <body>

    <% if @errors %>
      <% @errors.each do |error| %>
        <h3><%= error %></h3>
      <% end %>
    <% end %>

    <div class="container">
      <%= yield %>
    </div>

    <footer>
      <% if logged_in? %>
        <h4><a href="/logout">Log Out</h4>
      <% end %>
    </footer>

  </body>
</html>
